[workspace]
members = [
    "shared/common",
    "kernel/stages/first_stage",
    "kernel/stages/second_stage",
    "shared/cpu_utils",
    "kernel",
    "build",
    "learnix-macros", "crates/learnix-alloc", "crates/learnix-arch", "crates/learnix-common", "crates/learnix-buddy", "crates/memory/page", "crates/memory/slab", "crates/memory/buddy", "crates/drivers/keyboard", "crates/drivers/vga-displau", "crates/drivers/pci", "crates/drivers/ata", "crates/arch/x86", "crates/arch/x86_64",
]
resolver = "3"
default-members = ["build"]

[workspace.dependencies]

[profile.release]
opt-level = 's'
overflow-checks = false
panic = "abort"

[profile.dev]
panic = "abort"
